---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
  project: CollectionEntry<"projects">; // Changed to plural "projects"
};

const { project } = Astro.props;
---

<article class="relative">
  <a href={`/projects/${project.slug}`} class="block relative group">
    <div class="overflow-hidden rounded-md mb-2">
      <Image
        src={project.data.image}
        alt={project.data.title}
        class="aspect-thumbnail object-cover transition duration-320 ease-in-out"
      />
      <div
        class="absolute inset-0 rounded-md bg-black bg-opacity-0 group-hover:bg-opacity-15 transition duration-300 ease-in-out"
      >
      </div>
    </div>
  </a>
  <a href={`/projects/${project.slug}`}>
    <div class="flex flex-col justify-start flex-shrink-0">
      <h2 class="text-black leading-normal">{project.data.title}</h2>
      <p class="text-zinc-400 line-clamp-1 text-base max-md:text-sm">
        {project.body}
      </p>
    </div>
  </a>
</article>
